<p id="notice"><%= notice %></p>

<h1>
  Plant Pet
  <img src='/assets/plant.png' height='100' width='100' />
</h1>
<hr/>
<p>
  <strong>Name:</strong>
  <%= @plant.name %>
</p>

<p>
  <strong>Needs Water:</strong>
  <%= @plant.needs_water? %>
</p>

<p>
  <strong>Water:</strong>
  <%= @plant.water_amount %>
</p>

<p>
  <strong>Needs Food:</strong>
  <%= @plant.needs_food? %>
</p>

<p>
  <strong>Food:</strong>
  <%= @plant.fed_amount %>
</p>

<p>
  <strong>Age:</strong>
  <%= @plant.age %>
</p>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
